.button5 {
	display: inline-block;
	width: 280px;
	height: 70px;
	margin-top: 13px;
	text-align: center;
	text-decoration: none;
	outline: none;
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #8FBC8F;
	color: #8FBC8F;
	line-height: 60px;
}

.button5:hover {
	background: -moz-linear-gradient(orange, #FF8C00);
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#FF8C00)); 
	border-color: #3CB371;
	color: #fff;
}

.button5::before,
.button5::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}

.button5:hover {
	background: -moz-linear-gradient(orange, #FF8C00);
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#FF8C00)); 
	border-color: #3CB371;
	color: #fff;
}

.button5::before,
.button5::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #fff;
}



.button5::before {
	right: 0;
}
.button5::after {
	left: 0;
}
.button5:hover::before,
.button5:hover::after {
	width: 0;
	background: -moz-linear-gradient(orange, #FF8C00);
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#FF8C00)); 
}

.button5::before {
	right: 0;
}
.button5::after {
	left: 0;
}
.button5:hover::before,
.button5:hover::after {
	width: 0;
	background: -moz-linear-gradient(orange, #FF8C00);
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#FF8C00)); 
}
